<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/products-table.css">
  </head>

  <body>
    <div class="main-wrapper">
      <%- include('../includes/navbar.ejs') %>
  
      <div class="content-wrapper">
        <%- include('../includes/header-right.ejs') %>

        <section class="main-content-wrapper">
          
        <%- include('../includes/search.ejs') %>

          <% if (products.length > 0) { %>

            <div class="products__list">
              <div class="products__list-header">
                <div class="products__list-header-item p-item-first">Name</div>
                <div class="products__list-header-item p-item-second">Barcode</div>
                <div class="products__list-header-item p-item-fourth">Sale Price</div>
                <div class="products__list-header-item p-item-third">Orginal Price</div>
                <div class="products__list-header-item p-item-fifth">Count</div>
                <div class="products__list-header-item p-item-sixth">Editing</div>
                <div class="products__list-header-item p-item-seventh">Delete</div>
              </div>
              <div class="products__list-main">

                <% for (let product of products) { %>
                  <div class="products_list-columns">
                    <div class="products_list-columns-item p-item-first"><%= product.name %></div>
                    <div class="products_list-columns-item p-item-second"><%= product.barcode %></div>
                    <div class="products_list-columns-item p-item-fourth"><%= product.sale_price.replace(/(?=(?:.{3})*$)/g, ' ') %></div>
                    <div class="products_list-columns-item-therd">
                      <% for (let i=0; i < product.original_price.length; i++ ) { %>
                        <div class="products_list-columns-item-samll">
                          <div class="products_list-columns-small p-item-third"><%= product.original_price[i] ? product.original_price[i].replace(/(?=(?:.{3})*$)/g, ' ') : '' %></div>
                          <div class="products_list-columns-small p-item-fifth"><%= product.count[i] %></div>
                          <div class="products_list-columns-small p-item-sixth">
                            <a href="/edit-product?edit=true&p_id=<%= product.id %>" class="categories__edit-btn">
                              <img src="/images/create-btn.png" alt="create button" width="20" height="20">
                            </a>
                            <a href="/edit-product?edit=true&p_id=<%= product.id %>&pi_id=<%= product.pi_id[i] %>" class="categories__edit-btn">
                              <img src="/images/edit-button.png" alt="edit button" width="20" height="20">
                            </a>
                          </div>
                          <div class="products_list-columns-item p-item-seventh">
                            <form action="/delete-product?page=<%= currentPage %> " method="POST" enctype="application/x-www-form-urlencoded">
                              <% if(product.pi_id[i] !== null){ %>
                                <input type="hidden" value="<%= product.pi_id[i] %>" name="prodItemId">
                              <% } else { %>
                                <input type="hidden" value="<%= product.id %>" name="prodId">
                              <% } %>
                              <button type="submit" class="categories__delete-btn product-item-delete">
                                <img src="/images/delete-btn.png" alt="delete button" width="20" height="20">
                              </button>
                            </form>
                          </div>
                        </div>
                      <% } %>
                    </div>
                  </div>
                <% } %>

              </div>
            </div>


              <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, hasNextPage: hasNextPage, perviousPage: perviousPage, hasPerviousPage: hasPerviousPage, lastPage: lastPage}) %>

          <% } else { %>
            <h1>No Products Found!</h1>
          <% } %>

        </section>
      </div>
    </div>

  <script src="/js/admin.js"></script>
  <%- include('../includes/end.ejs') %>
